/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "framework_and_overrides"
 *= require "home"
 */

.container {
  max-width: 900px;
}

.small-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.job-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-size: auto auto;
  background-position: 0px 0px;
  vertical-align: middle;
}

.job-unprocessed {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Ij4NCjxwYXRoIGZpbGw9IiNFN0QxMDAiIGQ9Ik01LDBDMi4yMzksMCwwLDIuMjM4LDAsNWMwLDIuNzYxLDIuMjM5LDUsNSw1YzIuNzYyLDAsNS0yLjIzOSw1LTVDMTAsMi4yMzgsNy43NjIsMCw1LDAiLz4NCjwvc3ZnPg0K');
}

.job-succeeded {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Ij4NCjxwYXRoIGZpbGw9IiNFN0QxMDAiIGQ9Ik01LDBDMi4yMzksMCwwLDIuMjM4LDAsNWMwLDIuNzYxLDIuMjM5LDUsNSw1YzIuNzYyLDAsNS0yLjIzOSw1LTVDMTAsMi4yMzgsNy43NjIsMCw1LDAiLz4NCjwvc3ZnPg0K');
}

.job-failed {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Ij4NCjxwYXRoIGZpbGw9IiNDRDE4MUIiIGQ9Ik0xLjQ2MywxLjQ2M2MtMS45NTEsMS45NTItMS45NTEsNS4xMTksMC4wMDEsNy4wNzJjMS45NTQsMS45NTMsNS4xMiwxLjk1Myw3LjA3MSwwDQoJYzEuOTUzLTEuOTUxLDEuOTUzLTUuMTE4LDAtNy4wNzFDNi41ODItMC40ODgsMy40MTctMC40ODgsMS40NjMsMS40NjMgTTcuNDQ5LDMuNzczTDYuMjI2LDVsMS4yMjQsMS4yMjZMNi4yMjYsNy40NDlMNSw2LjIyNg0KCUwzLjc3Myw3LjQ0OUwyLjU1LDYuMjI2TDMuNzczLDVMMi41NSwzLjc3M2wxLjIyNS0xLjIyNUw1LDMuNzczbDEuMjI2LTEuMjI1TDcuNDQ5LDMuNzczeiIvPg0KPC9zdmc+DQo=');
}

.job-errored {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Ij4NCjxwYXRoIGZpbGw9IiNBOEE4QTkiIGQ9Ik01LDBDMi4yMzksMCwwLDIuMjQsMCw1YzAsMi43NjIsMi4yMzgsNSw1LDVjMi43NjEsMCw1LTIuMjM4LDUtNUMxMCwyLjI0LDcuNzYyLDAsNSwwIE01Ljg2Niw3LjZINC4xMzQNCglWNi43MzJoMS43MzFWNy42eiBNNS43NDcsNS40NDFDNS43MDIsNS42NzUsNS40Nyw1Ljg2Niw1LjIzMiw1Ljg2Nkg0Ljc3Yy0wLjIzOCwwLTAuNDctMC4xOS0wLjUxNi0wLjQyNUwzLjc1MSwyLjgyOA0KCUMzLjcwOCwyLjU5MiwzLjg2NiwyLjQwMSw0LjEwNCwyLjQwMWgxLjc5M2MwLjIzNiwwLDAuMzk2LDAuMTkxLDAuMzUyLDAuNDI3TDUuNzQ3LDUuNDQxeiIvPg0KPC9zdmc+DQo=');
}
