<%
  @title = "Latest build - #{@project.long_name}"
  @project_tab = :latest_build
%>
<% content_for :project_content do %>
  <% if @wait_for_build %>
    <div class="text-center">
      <h2>Build is now starting. Please wait...</h2>
    </div>
  <% else %>
    <%= render :partial => 'initial_setup' %>
  <% end %>
<% end %>
<%= render 'projects/layout' %>