<div class="build-logo">
  <%= image_tag "logo.png", :style => "height: 120px", :title => "http://openclipart.org/detail/72439/muaythai006-by-aungkarns" %>
</div>

<h2>Build #<%= build.number %></h2>

<%= render :partial => 'info', :locals => { :build => build } %>

<h4 style="margin-top: 2em">Build matrix</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 6em">Job</th>
      <th>Environment</th>
      <th>Running time</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'jobs/job', :collection => build.jobs %>
  </tbody>
</table>