<%
  @title = "All builds - #{@project.long_name}"
  @project_tab = :build_history
%>
<% content_for :project_content do %>
  <% if @builds.empty? %>
    <div class="small-container text-center">
      <p></p>
      <p>There are no builds yet. You may manually start a build.</p>
      <p><%= link_to "Start a build", project_model_builds_path(@project), :method => "post", :class => "btn btn-default" %></a></p>
    </div>
  <% else %>
    <p></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 4em">#</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => 'builds/build_index_item', :collection => @builds, :as => :build %>
      </tbody>
    </table>
  <% end %>
<% end %>
<%= render 'projects/layout' %>