<%
  @title = "Build ##{@build.number} - #{@repo.long_name}"
  if @build.is_latest_build?
    @repo_tab = :latest_build
  else
    @repo_tab = :build_history
  end
%>
<% content_for :repo_content do %>
  <% if @repo_tab == :build_history %>
    <p></p>
    <%= link_to repo_model_builds_path(@repo), :class => "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Show all builds
    <% end %>
  <% end %>
  <%= render :partial => 'builds/build', :locals => { :build => @build } %>
<% end %>
<%= render 'repos/layout' %>